:root {
	--dark: #111111;
	--light: #eeeeee;
	--orange: #ffaa00;
	--dark-orange: #ee9900;
	--red: #cc0000;
	--dark-red: #990000;
	--green: #22aa22;
	--dark-green: #228822;
}

* {
	font-family: Helvetica, Verdana, Arial;
}

body {
	background-color: var(--dark);
	color: var(--light);
}


#nom-domaine {
	text-shadow: var(--dark-red) 2px -2px 1px;
}

.btn:focus, .btn.focus { box-shadow: none; }

.btn-accueil {
	background-color: var(--red);
	color: var(--light);
	border: solid 1px var(--dark-red);
	margin: 1% 0 1% 0;
	padding: 2% 0 2% 0;
	width: 100%;
	white-space: normal;
	transition-duration: 0.1s;
}
.btn-accueil:hover  {
	background-color: var(--dark-red);
	color: var(--light);
}

.btn-accueil-cv {
	background-color: var(--green);
	border: solid 1px var(--dark-green);
}
.btn-accueil-cv:hover {	background-color: var(--dark-green); }
.btn-accueil-aslan {
	background-color: var(--orange);
	border: solid 1px var(--dark-orange);
}
.btn-accueil-aslan:hover { background-color: var(--dark-orange); }
