<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>Maxime Vernusset</title>
		<meta property="og:title" content="Maxime Vernusset - Ingénieur Systèmes d'Information"/>
		<meta property="og:description" content="CV de Maxime Vernusset, Ingénieur en Systèmes d'Information & Cybersécurité."/>
		<meta name="description" content="Curriculum Vitae de Maxime Vernusset. Ingénieur en Systèmes d'Information & Cybersécurité."/>
		<meta name="keywords" content="cv, curriculum vitae, portfolio, maxime vernusset, cybersécurité, systèmes d'information, ingénieur, logiciel, ece paris, développeur, devops, sre, architecture, cloud"/>
		<meta name="subject" content="Curriculum Vitae"/>
		<meta name="author" content="Maxime Vernusset"/>
		<meta name="language" content="fr"/>
		<meta name="copyright" content="Maxime Vernusset"/> 
		<meta name="robots" content="index,follow,max-snippet:-1,max-image-preview:large"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta charset="utf-8"/>
		
		<link rel="stylesheet" href="public/vendor/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<script src="public/vendor/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="public/vendor/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="public/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="public/css/cv.css"/>
		<link rel="icon" type="image/png" href="public/img/favicon.png"/>
	</head>
	
	<body>
		<div class="container">
			<div class="row row-eq-height">
				<div id="marge-gauche" class="col-md-1 col-sm-0 col-eq-height"></div>
				
				<main role="main" aria-label="Contenu principal">
					<div id="bandeau" class="col-md-4 col-sm-4 col-eq-height" role="complementary">
						<div id="photo">
							<img src="public/img/photo.png" alt="photo"/>
							<section id="nom" class="shadow">
								<h1><b>Maxime Vernusset</b></h1>
								<p id="metier"><strong>Ingénieur Logiciel</strong></p>
							</section>
						</div>
						
						<div id="infos">
							<section id="contacts" role="region" aria-label="Informations de contact">
								<h2 class="invisible" aria-hidden="true">Contact</h2>
								<article id="permis" class="contact">
									<h3 class="invisible" aria-hidden="true">Permis</h3>
									<span class="icone-contact fa fa-car" aria-hidden="true"></span>
									<span aria-label="Permis de conduire">Permis B</span>
								</article>
								<article id="github" class="contact">
									<h3 class="invisible" aria-hidden="true">GitHub</h3>
									<a href="https://github.com/MaximeVernusset" 
									   target="_blank" 
									   aria-label="Profil GitHub de Maxime Vernusset">
										<span class="icone-contact fa fa-github" aria-hidden="true"></span> MaximeVernusset
									</a>
								</article>
								<article id="linkedin" class="contact">
									<h3 class="invisible" aria-hidden="true">LinkedIn</h3>
									<a href="https://www.linkedin.com/in/maximevernusset/" 
									   target="_blank"
									   aria-label="Profil LinkedIn de Maxime Vernusset">
										<span class="icone-contact fa fa-linkedin"></span> Maxime Vernusset
									</a>
								</article>
								<article id="email" class="contact">
									<h3 class="invisible" aria-hidden="true">Email</h3>
									<a href="mailto:maxime.vernusset+cv-portfolio@hotmail.fr"><span class="icone-contact fa fa-envelope"></span> maxime.vernusset+cv-portfolio@hotmail.fr</a>
								</article>
							</section>
							
							<hr/>
							
							<div id="soft-skills">
								<section id="langues">
									<h2><span class="fa fa-flag"></span> Langues</h2>
									<article id="francais" class="langue">
										<h3 class="invisible" aria-hidden="true">Français</h3>
										<div>
											Français (natif)
										</div>
									</article>
									<article id="anglais" class="langue">
										<h3 class="invisible" aria-hidden="true">Anglais</h3>
										<div>
											Anglais (C1)
										</div>
									</article>
									<article id="espagnol" class="langue">
										<h3 class="invisible" aria-hidden="true">Espagnol</h3>
										<div>
											Espagnol (B1)
										</div>
									</article>
								</section>
								
								<hr/>
								
								<section id="atouts">
									<h2><span class="fa fa-trophy"></span> Atouts</h2>
									<article id="atout1" class="atout">
										<h3 class="invisible" aria-hidden="true">Consciencieux, responsable, organisé</h3>
										<p>
											<table role="presentation">
												<tr>
													<td><span class="fa fa-caret-right icone-atout-item"></span></td>
													<td>Consciencieux, responsable, organisé</td>
												</tr>
											</table>
										</p>
									</article>
									<article id="atout3" class="atout">
										<h3 class="invisible" aria-hidden="true">Curieux, force de proposition</h3>
										<p>
											<table role="presentation">
												<tr>
													<td><span class="fa fa-caret-right icone-atout-item"></span></td>
													<td>Curieux, force de proposition</td>
												</tr>
											</table>
										</p>
									</article>
									<article id="atout2" class="atout">
										<h3 class="invisible" aria-hidden="true">Autonomie, capacité d'adaptation</h3>
										<p>
											<table role="presentation">
												<tr>
													<td><span class="fa fa-caret-right icone-atout-item"></span></td>
													<td>Autonomie, capacité d'adaptation</td>
												</tr>
											</table>
										</p>
									</article>
								</section>
								
								<hr/>
								
								<section id="interets">
									<h2><span class="fa fa-music"></span> Centres d'intérêt</h2>
									<article id="interet1" class="interet">
										<h3>Musique :</h3>
										<p>
											<span class="shadow">Trombone & batterie</span><br/>
											<small>
												<em>
													Tromboniste de l'association <a href="https://www.facebook.com/L%C3%A9vent-dla-rue-Fanfare-de-rue-1643897665839687/" target="_blank">l'Eventd'LaRue Fanfare de Rue</a><br/>
													1<sup>er</sup> trombone à l'harmonie de Salbris
												</em>
											</small>
										</p>
									</article>
									<article id="interet2" class="interet">
										<h3>Autres :</h3>
										<p>Veille technologique, hapkido, lecture (fantasy), bricolage, tir sportif</p>
									</article>
								</section>
							</div>

							<hr/>

							<section id="pretentions">
								<h2><span class="fa fa-star"></span> Prétentions</h2>
								<article id="pretention1" class="pretention">
									<h3 class="invisible" aria-hidden="true">Structure jeune, conviviale et flexible</h3>
									<p>
										<table role="presentation">
											<tr>
												<td><span class="fa fa-caret-right icone-pretention-item" aria-hidden="true"></span></td>
												<td aria-label="Prétention">Structure jeune, conviviale, flexible et dynamique</td>
											</tr>
										</table>
									</p>
								</article>
								<article id="pretention2" class="pretention">
									<h3 class="invisible" aria-hidden="true">Excellence technique</h3>
									<p>
										<table role="presentation">
											<tr>
												<td><span class="fa fa-caret-right icone-pretention-item"></span></td>
												<td aria-label="Prétention">Excellence technique</td>
											</tr>
										</table>
									</p>
								</article>
								<article id="pretention3" class="pretention">
									<h3 class="invisible" aria-hidden="true">Télétravail partiel</h3>
									<p>
										<table role="presentation">
											<tr>
												<td><span class="fa fa-caret-right icone-pretention-item"></span></td>
												<td aria-label="Prétention">Télétravail partiel</td>
											</tr>
										</table>
									</p>
								</article>
								<!--<article id="pretention4" class="pretention">
									<h3 class="invisible" aria-hidden="true">65k€ fixe + package</h3>
									<p>
										<table role="presentation">
											<tr>
												<td><span class="fa fa-caret-right icone-pretention-item"></span></td>
												<td>65k€ fixe + package</td>
											</tr>
										</table>
									</p>
								</article>-->
							</section>
						</div>
					</div>
					
					<div id="page" class="col-md-8 col-sm-8 col-eq-height" aria-label="Parcours">
						<div class="container-fluid">
							<section id="intro">
								<h2 class="invisible" aria-hidden="true">Résumé</h2>
								<p>
									<em>
										Expérience en développement backend, cloud et automatisation. Attaché à la qualité logicielle, l'amélioration continue et la transmission des connaissances.
									</em>
								</p>
							</section>
							
							<section id="experiences">
								<h2>Expériences professionelles</h2>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Développeur Fullstack</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Octobre 2024 -<br/> Aujourd'hui
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Développeur Fullstack</h3>
											<h4><span class="etablissement">Siteflow</span>, Paris</h4>
											<p>
												Refacorings techniques de la solution <abbr title="Software as as Service">SaaS</abbr> Siteflow (digitalisation des opérations terrain dans l'industrie nucléaire) :
												moteur de traitements asynchrones, migration MySQL🠒PostgreSQL.<br/>
												<em>Java, Springboot, Angular, Git, PostgreSQL, Azure</em>
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Ingénieur Sécurité - Développeur IAM</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Juin 2024 -<br/> Septembre 2024
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Ingénieur Sécurité - Développeur <abbr title="Identity & Access Management">IAM</abbr></h3>
											<h4><span class="etablissement"><abbr title="Banque Populaire Caisse d'Épargne Infogérance & Technologies">BPCE-IT</abbr></span>, Paris</h4>
											<p>
												Développement de briques logicielles de gestion des identités et accès des 100000 collaborateurs du Groupe <abbr title="Banque Populaire Caisse d'Épargne">BPCE</abbr>.<br/>
												<em>Java, Springboot, Angular, <abbr title="Apache Active Message Queue">ActiveMQ</abbr>, Sailpoint IdentityIQ</em>
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Enseignant vacataire</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Novembre 2019 -<br/> Aujourd'hui
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Enseignant vacataire</h3>
											<h4><span class="etablissement"><abbr title="École Centrale d'Électronique">ECE</abbr></span>, Paris</h4>
											<p>
												Encadrement de <abbr title="Travaux Dirigés">TD</abbr>/<abbr title="Travaux Pratiques">TP</abbr> & projets. Suivi d'apprentis.<br/>
												<em>Java, C, Python</em>
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Développeur Backend & DevOps</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Septembre 2019 -<br/> Mai 2024
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Développeur Backend & DevOps</h3>
											<h4><span class="etablissement">triPica</span>, Paris</h4>
											<p>
												Conception, développement et <abbr title="Maintien en Conditions Opérationnelles">MCO</abbr> de fonctionnalités de la solution <abbr title="Business Support System">BSS</abbr> <abbr title="Software as as Service">SaaS</abbr> triPica (infrastructure, backend, tooling).<br/>
												Environnement DevSecOps (ISO27001), <abbr title="Continuous Integration / Continuous Delivery">CI/CD</abbr>, administration système, support & formation interne.<br/>
												<em>Java, Springboot, microservices, JavaScript, PostgreSQL, <abbr title="Amazon Web Services">AWS</abbr>, Terraform, Linux, Git, Jenkins, Rundeck, Keycloak</em>
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Stagiaire ingénieur production IAM</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Février 2019 -<br/> Août 2019
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Stagiaire Ingénieur de production <abbr title="Identity & Access Management">IAM</abbr></h3>
											<h4><span class="etablissement">Orange Cyberdefense</span>, La Défense</h4>
											<p>
												Migration d'une solution de gouvernance des identités (IBM <abbr title="Identity Governance & Intelligence">IGI</abbr>) pour une banque internationale.<br/>
												<em>IBM IGI, Java, SQL, webservices</em>
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Stagiaire développeur informatique</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Avril 2018 -<br/> Août 2018
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Stagiaire Développeur</h3>
											<h4><span class="etablissement">EDF</span>, Centrale nucléaire de St-Laurent-des-Eaux</h4>
											<p>
												Développement d'un outil de pilotage fournissant des indicateurs sur l'évolution des opérations de maintenance et la réactivité des équipes.<br/>
												<em>PHP, HTML, CSS/Bootstrap, JavaScript/jQuery</em>
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Employé centralisation caisses</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Juin 2017 -<br/> Août 2017
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Employé centralisation caisses</h3>
											<h4><span class="etablissement">Center Parcs</span>, Chaumont-sur-Tharonne</h4>
											<p>
												Comptage caisses des points de vente, gestion des coffres et flux monétaires.
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Stagiaire Agent Général d'Assurances</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Janvier 2017
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Stagiaire Agent Général d'Assurances</h3>
											<h4><span class="etablissement">Monceau Assurances</span>, Salbris</h4>
											<p>
												Découverte du métier d'assureur, proposition de solutions informatiques.
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Assistant à domicile</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Juillet 2016 -<wbr> Août 2016
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Assistant à domicile</h3>
											<h4><span class="etablissement"><abbr title="Aide à Domicile en Milieu Rural">ADMR</abbr></span>, Salbris</h4>
											<p>
												Aide à la personne : entretien du logement, aide à la toilette, courses, cuisine...
											</p>
										</div>
									</div>
								</article>
								<article class="experience">
									<h3 class="invisible" aria-hidden="true">Stagiaire Administrateur Systèmes</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Janvier 2015
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Stagiaire Administrateur Systèmes</h3>
											<h4><span class="etablissement">Center Parcs</span>, Chaumont-sur-Tharonne</h4>
											<p>
												Gestion du parc informatique, dépannages, brassage réseau.
											</p>
										</div>
									</div>
								</article>
							</section>
							
							<hr/>
							
							<section id="formations">
								<h2>Diplômes et formations</h2>
								<article class="formation">
									<h3 class="invisible" aria-hidden="true">Diplôme d'Ingénieur</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Septembre 2014 -<br/> Septembre 2019
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Diplôme d'Ingénieur</h3>
											<h4><span class="etablissement"><abbr title="École Centrale d'Électronique">ECE</abbr></span>, Paris</h4>
											<p>
												Systèmes d'Information & Cybersécurité défensive (label SecNumEdu).<br/>
												Chef de projets, association iTeam, assistant professeur.<br/>
												<u>Projet de fin d'études</u> : conception d'un outil de création de modèle de délégation <abbr title="Role Based Access Control">RBAC</abbr> dans l'Active Directory Microsoft.
											</p>
										</div>
									</div>
								</article>
								<article class="formation">
									<h3 class="invisible" aria-hidden="true">Semestre d'études à l'étranger</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Septembre 2016 -<br/> Décembre 2016
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Semestre d'études à l'international</h3>
											<h4><span class="etablissement">Bangor University</span>, Pays de Galles</h4>
											<p>
												Développement logiciel (création d'une application de gestion de contacts en C#), <abbr title="Very Large Scale Integration">VLSI</abbr>.
											</p>
										</div>
									</div>
								</article>
								<article class="formation">
									<h3 class="invisible" aria-hidden="true">BAC S - Sciences de l'Ingénieur</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Septembre 2011 -<br/> Juin 2014
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>BAC S - Sciences de l'Ingénieur</h3>
											<h4><span class="etablissement">Lycée Ste-Croix St-Euverte</span>, Orléans</h4>
											<p>
												Mention BIEN, spécialité Informatique et Sciences du Numérique.
											</p>
										</div>
									</div>
								</article>
								<article class="formation">
									<h3 class="invisible" aria-hidden="true">Brevet des Collèges</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
											Septembre 2008 -<br/> Juin 2011
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<h3>Brevet des Collèges</h3>
											<h4><span class="etablissement">Collège St-Georges</span>, Salbris</h4>
											<p>
												Mention TRÈS BIEN.
											</p>
										</div>
									</div>
								</article>

								<section id="moocs">
									<h3>Certifications / <abbr title="Massive Open Online Course">MOOCs</abbr></h3>
									<details>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Débuter avec Docker</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Juillet 2024
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Débuter avec Docker</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-8beaceb6-cdca-4a55-b1aa-cb195a7acff8/" target="_blank" class="id-certification">UC-8beaceb6-cdca-4a55-b1aa-cb195a7acff8</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Développer Votre Première Application avec Angular</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Mai 2024
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Développer Votre Première Application avec Angular</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-c1d61c4d-fd93-40af-9be1-43bd864d7e65/" target="_blank" class="id-certification">UC-c1d61c4d-fd93-40af-9be1-43bd864d7e65</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Java Messaging Service - ActiveMQ</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Mars 2024
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Java Messaging Service - ActiveMQ</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-b50ea029-4387-416f-beef-5f967601aeb7/" target="_blank" class="id-certification">UC-b50ea029-4387-416f-beef-5f967601aeb7</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Identity and Access Governance (IAM/IAG/IGA)</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Mars 2024
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Identity and Access Governance (<abbr title="Identity and Access Management">IAM</abbr>/<abbr title="Identity and Access Governance">IAG</abbr>/<abbr title="Identity Governance and Administration">IGA</abbr>)</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-e156d9d8-96d6-43a5-b2c1-d9ec191fa1dd/" target="_blank" class="id-certification">UC-e156d9d8-96d6-43a5-b2c1-d9ec191fa1dd</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Certificate of Language Proficiency</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Décembre 2023
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Certificate of Language Proficiency</h3>
													<h4><span class="etablissement">goFLUENT</span></h4>
													<p>
														<a class="id-certification">dff83039-4703-48fb-9aaa-866ed10e8696</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Distributed Systems and Cloud Computing with Java</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Novembre 2023
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Distributed Systems and Cloud Computing with Java</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-51148015-9fed-472c-89df-7077c541a023/" target="_blank" class="id-certification">UC-51148015-9fed-472c-89df-7077c541a023</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Clean Code</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Mars 2023
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Clean Code</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-47af90eb-06a1-4046-840e-c31587f572b4/" target="_blank" class="id-certification">UC-47af90eb-06a1-4046-840e-c31587f572b4</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">SecNumAcadémie</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Mars 2022
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>SecNumAcadémie</h3>
													<h4><span class="etablissement"><abbr title="Agence Nationale de la Sécurité des Systèmes d'Information">ANSSI</abbr></span></h4>
													<p></p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Java Application Performance and Memory Management</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Février 2022
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Java Application Performance and Memory Management</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-1c293420-a8dc-4709-a7de-f07e84bc1dcf/" target="_blank" class="id-certification">UC-1c293420-a8dc-4709-a7de-f07e84bc1dcf</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">LeBonBoss: Comment manager une équipe? Leadership Management</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Octobre 2021
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>LeBonBoss: Comment manager une équipe? Leadership Management</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-6bfd0168-ce8f-4021-adbf-fd9c528e4d7f/" target="_blank" class="id-certification">UC-6bfd0168-ce8f-4021-adbf-fd9c528e4d7f</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Les patterns de conception des microservices</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Octobre 2021
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Les patterns de conception des microservices</h3>
													<h4><span class="etablissement">Udemy</span></h4>
													<p>
														<a href="https://www.udemy.com/certificate/UC-1cd56140-d268-4cf9-816b-07fbb24f89d7/" target="_blank" class="id-certification">UC-1cd56140-d268-4cf9-816b-07fbb24f89d7</a>
													</p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Sécurité & Santé au Travail</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Décembre 2018
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Sécurité & Santé au Travail</h3>
													<h4><span class="etablissement"><abbr title="Institut Mines Télécom">IMT</abbr> Atlantique</span></h4>
													<p></p>
												</div>
											</div>
										</article>
										<article class="formation">
											<h3 class="invisible" aria-hidden="true">Gestion de Projet Agile</h3>
											<div class="row">
												<div class="col-xs-4 col-sm-3 col-md-2 dates" aria-label="Période">
													Décembre 2017
												</div>
												<div class="col-xs-8 col-sm-9 col-md-10 description">
													<h3>Gestion de Projet Agile</h3>
													<h4><span class="etablissement">Centrale Lille</span></h4>
													<p>
														<a href="https://certification.unow-mooc.org/ID/MGDP10-322150.pdf" target="_blank" class="id-certification">MGDP10-322150.pdf</a>
													</p>
												</div>
											</div>
										</article>
									</details>
								</section>
							</section>

							<hr/>

							<section id="competences">
								<h2>Compétences</h2>
								<article class="competence">
									<h3 class="invisible" aria-hidden="true">Développement</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 categorie">
											<h3>Développement</h3>
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<p>Java, JavaScript, Git, <abbr title="Simple Query Language">SQL</abbr>, <abbr title="Hyper Text Markup Language">HTML</abbr>, cloud computing, microservices, clean code, architecture</p>
										</div>
									</div>
								</article>
								<article class="competence">
									<h3 class="invisible" aria-hidden="true">DevOps / SRE</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 categorie">
											<h3>DevOps / <abbr title="Site Reliability Engineer">SRE</abbr></h3>
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<p><abbr title="Amazon Web Services">AWS</abbr>, Terraform, Linux, Jenkins, Rundeck, réseaux, automatisation, <abbr title="Continuous Integration / Continuous Delivery">CI/CD</abbr></p>
										</div>
									</div>
								</article>
								<article class="competence">
									<h3 class="invisible" aria-hidden="true">Autres</h3>
									<div class="row">
										<div class="col-xs-4 col-sm-3 col-md-2 categorie">
											<h3>Autres</h3>
										</div>
										<div class="col-xs-8 col-sm-9 col-md-10 description">
											<p>
												<abbr title="Unified Modeling Language">UML</abbr>, bases de données relationnelles, C, C++, C#, PHP, PowerShell, <abbr title="Cascading Style Sheet">CSS</abbr> (Bootstrap), <abbr title="Identity & Access Management">IAM</abbr>, Keycloack, <abbr title="User Experience">UX</abbr>, Jira, Confluence, Office
											</p>
										</div>
									</div>
								</article>
							</section>
						</div>
					</div>
				</main>
					
				<div id="marge-droite" class="col-md-1 col-sm-0 col-eq-height"></div>
			</div>
				
			<aside role="complementary" aria-label="Actions">
				<div id="btn-export" class="btn-group-justified">
					<a href="public/pdf/CV_Maxime_Vernusset.pdf" class="btn btn-danger" role="button" aria-label="Télécharger la version PDF du CV">
						Télé<wbr>charger la version PDF
					</a>
				</div>
			</aside>
		</div>

		<footer class="page-footer">
			<div class="footer-copyright text-center">
				<small>Copyright &copy; <?= date("Y") ?> Maxime Vernusset</small>
			</div>
		</footer>
		
	</body>
		
</html>
